/* If using Panels enable this in the info file */
.panel-pane {}
.pane-inner {}
.pane-title {}
.pane-content {}
.panel-pane .feed {}
.panel-pane .links {}
.panel-pane .more-link {}




/* Admin */
.panels-ipe-editing .panels-ipe-region, 
.panels-ipe-region {
    border: none;
    float: left;
    margin-bottom: 0;
}